{% extends 'base.html' %}
{% block content %}
<h3>Loans</h3>
<a href="{% url 'add_loan' %}" class="btn btn-primary mb-3">Add Loan</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Released</th>
      <th>Name</th>
      <th>Loan ID</th>
      <th>Principal</th>
      <th>Interest Rate</th>
      <th>Total Due</th>
      <th>Paid</th>
      <th>Balance</th>
      <th>Last Payment</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for l in loans %}
    <tr>
      <td>{{ l.disbursed_date }}</td>
      <td>{{ l.borrower.full_name }}</td>
      <td>{{ l.loan_id }}</td>
      <td>{{ l.principal }}</td>
      <td>{{ l.interest_rate }}</td>
      <td>{{ l.total_due }}</td>
      <td>{{ l.paid }}</td>
      <td>{{ l.balance }}</td>
      <td>{{ l.last_payment }}</td>
      <td>{{ l.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}